// colors light theme
$ltVeryLightGray: hsl(0, 0%, 98%);
$ltVeryLightGrayishBlue: hsl(236, 33%, 92%);
$ltLightGrayishBlue: hsl(233, 11%, 84%);
$ltDarkGrayishBlue: hsl(236, 9%, 61%);
$ltVeryDarkGrayishBlue: hsl(235, 19%, 35%);

//colors dark theme
$dtVeryDarkBlue: hsl(235, 21%, 11%);
$dtVeryDarkDesaturatedBlue: hsl(235, 24%, 19%); //wrapper color
$dtLightGrayishBlue: hsl(234, 39%, 85%);
$dtLightGrayishBlue : hsl(236, 33%, 92%); //(hover)
$dtDarkGrayishBlue: hsl(234, 11%, 52%);
$dtVeryDarkGrayishBlue: hsl(233, 14%, 35%);
$dtVeryDarkGrayishBlue: hsl(237, 14%, 26%);

//colors neutral

$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient(130deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// media breakpoint

$breakpoint: 33.75rem;

// max-width of components

$maxwidth: 33.75rem;